{% extends 'base.html.twig' %}

{% block body %}
    <h1>Employees list</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Employeenumber</th>
                <th>Lastname</th>
                <th>Firstname</th>
                <th>Extension</th>
                <th>Email</th>
                <th>Jobtitle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for employee in employees %}
            <tr>
                <td><a href="{{ path('employees_show', { 'employeenumber': employee.employeenumber }) }}">{{ employee.employeenumber }}</a></td>
                <td>{{ employee.lastname }}</td>
                <td>{{ employee.firstname }}</td>
                <td>{{ employee.extension }}</td>
                <td>{{ employee.email }}</td>
                <td>{{ employee.jobtitle }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('employees_show', { 'employeenumber': employee.employeenumber }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('employees_edit', { 'employeenumber': employee.employeenumber }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('employees_new') }}">Create a new employee</a>
        </li>
    </ul>
{% endblock %}
