{% extends 'base.html.twig' %}

{% block body %}
    <h1>Employee</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Employeenumber</th>
                <td>{{ employee.employeenumber }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ employee.lastname }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ employee.firstname }}</td>
            </tr>
            <tr>
                <th>Extension</th>
                <td>{{ employee.extension }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ employee.email }}</td>
            </tr>
            <tr>
                <th>Jobtitle</th>
                <td>{{ employee.jobtitle }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('employees_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('employees_edit', { 'employeenumber': employee.employeenumber }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
