{% extends 'base.html.twig' %}

{% block body %}
    <h1>Office</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Officecode</th>
                <td>{{ office.officecode }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ office.city }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ office.phone }}</td>
            </tr>
            <tr>
                <th>Addressline1</th>
                <td>{{ office.addressline1 }}</td>
            </tr>
            <tr>
                <th>Addressline2</th>
                <td>{{ office.addressline2 }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ office.state }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ office.country }}</td>
            </tr>
            <tr>
                <th>Postalcode</th>
                <td>{{ office.postalcode }}</td>
            </tr>
            <tr>
                <th>Territory</th>
                <td>{{ office.territory }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('offices_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('offices_edit', { 'officecode': office.officecode }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
