{% extends 'base.html.twig' %}

{% block body %}
    <h1>Productlines list</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Productline</th>
                <th>Textdescription</th>
                <th>Htmldescription</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for productline in productlines %}
            <tr>
                <td><a href="{{ path('productlines_show', { 'productline': productline.productline }) }}">{{ productline.productline }}</a></td>
                <td>{{ productline.textdescription }}</td>
                <td>{{ productline.htmldescription }}</td>
                <td>{{ productline.image }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('productlines_show', { 'productline': productline.productline }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('productlines_edit', { 'productline': productline.productline }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('productlines_new') }}">Create a new productline</a>
        </li>
    </ul>
{% endblock %}
